.logo {
	text-decoration:none;
	color:#00FF00;
	font-size:25px; 
}

header {
	background-color:rgb(0, 170, 0);
	text-align:center; 
}

nav {
	background-color:rgb(0, 170, 0);
	text-align:center; 
}

.nav {
	color:rgb(0, 255, 0);
	text-decoration:none;
}

body {
	background-color:rgb(100, 100, 100); 
}

article {
	margin-top:15px;
	text-align:center;
}

#ssilka {
	color:rgb(0, 50, 255);
	text-decoration:none;	
}